Repository felixk76/kirmaiernet: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint, node_modules/.bin/htmllint --rc .htmllintrc

gitignore
  .gitignore
Due: none

11ty
  .eleventy.js
  package-lock.json
  package.json
  src/_includes/layouts/base.html
  src/_includes/layouts/home.html
  src/_includes/partials/site-head.html
  src/index.md
Due: eslint

SCSS boilerplate
  src/Scss/backend-skin.scss
  src/Scss/base/_basics.scss
  src/Scss/base/_reboot.scss
  src/Scss/base/_richtext-content.scss
  src/Scss/modules/.gitkeep
  src/Scss/modules/_text.scss
  src/Scss/partials/_page-footer.scss
  src/Scss/partials/_page-header.scss
  src/Scss/partials/_page-navigation.scss
  src/Scss/rte.scss
  src/Scss/style.scss
  src/Scss/themes/.gitkeep
  src/Scss/utils/_bp.scss
  src/Scss/utils/_colors.scss
  src/Scss/utils/_lazyload.scss
  src/Scss/utils/_mixins.scss
  src/Scss/utils/_variables.scss
  src/Scss/utils/_webfonts.scss
  src/Scss/vendors/.gitkeep
Due: stylelint

Fonts
  src/fonts/bignoodletitling.woff
  src/fonts/bignoodletitling.woff2
  src/fonts/publicsans-italic-variable.woff
  src/fonts/publicsans-italic-variable.woff2
  src/fonts/publicsans-regular.woff
  src/fonts/publicsans-regular.woff2
  src/fonts/publicsans-variable.woff
  src/fonts/publicsans-variable.woff2
Due: none

JS
  .eleventy.js
  src/JavaScript/.gitkeep
  src/JavaScript/base.js
  src/JavaScript/vendors/cssrelpreload.js
  src/JavaScript/vendors/intersection-observer.js
  src/JavaScript/vendors/lazysizes.js
  src/JavaScript/vendors/picturefill.js
Due: eslint

Site bg patterns
  src/Images/grunge.png
  src/Images/grunge2x.png
  src/Images/grunge_purple.jpg
  src/Images/grunge_purple2X.jpg
  src/Images/grunge_purple2X.png
Due: none

Replaced PublicSans with Manrope Font
  fonts/bignoodletitling.woff
  fonts/bignoodletitling.woff2
  src/Scss/base/_basics.scss
  src/Scss/utils/_variables.scss
  src/Scss/utils/_webfonts.scss
  src/fonts/manrope-regular-subset.woff
  src/fonts/manrope-regular-subset.woff2
  src/fonts/manrope-variable-subset.woff
  src/fonts/manrope-variable-subset.woff2
  src/fonts/publicsans-italic-variable.woff
  src/fonts/publicsans-italic-variable.woff2
  src/fonts/publicsans-regular.woff
  src/fonts/publicsans-regular.woff2
  src/fonts/publicsans-variable.woff
  src/fonts/publicsans-variable.woff2
Due: stylelint

Moved colors to own sccss file, basic themeing (WiP)
  src/Scss/modules/_text.scss
  src/Scss/partials/_page-header.scss
  src/Scss/themes/_text.scss
  src/Scss/utils/_colors.scss
Due: stylelint

Deleted some files
  css/style.css
  index.html
  src/Scss/backend-skin.scss
Due: stylelint

Fixed Whitespace problems in about-me markdown
  src/index.md
Due: none

Removed skip link
  src/_includes/partials/site-head.html
Due: none

Fixed paths for linter in npm scripts
  package.json
Due: none

Light and darkmode for header ans about me , WiP
  .gitignore
  src/Images/grunge2X Kopie.png
  src/Images/grunge2X.jpg
  src/Scss/partials/_page-header.scss
  src/Scss/style.scss
  src/Scss/themes/_basics.scss
  src/Scss/themes/_page-header.scss
  src/Scss/themes/_text.scss
  src/Scss/utils/_colors.scss
Due: stylelint

Site Header h1 breakpoints
  src/Scss/partials/_page-header.scss
Due: stylelint

Removed htmllint
  .htmllintrc
  .lintstagedrc
  grunt/aliases.yaml
  package.json
Due: none

Renamed JavaScript folder to js
  .eslintignore
  Gruntfile.js
  src/JavaScript/base.js
  src/JavaScript/vendors/cssrelpreload.js
  src/JavaScript/vendors/intersection-observer.js
  src/JavaScript/vendors/lazysizes.js
  src/JavaScript/vendors/picturefill.js
  src/_includes/layouts/base.html
  src/js/.gitkeep
  src/js/base.js
  src/js/vendors/cssrelpreload.js
  src/js/vendors/intersection-observer.js
  src/js/vendors/lazysizes.js
  src/js/vendors/picturefill.js
Due: eslint

Deleted Themes
  src/Scss/style.scss
  src/Scss/themes/.gitkeep
  src/Scss/themes/_basics.scss
  src/Scss/themes/_page-header.scss
  src/Scss/themes/_text.scss
Due: stylelint

Cleaned naming of site-header (WiP)
  src/Scss/partials/_site-header.scss
  src/Scss/style.scss
  src/_includes/layouts/base.html
  src/_includes/partials/site-head.html
  src/_includes/partials/site-header.html
Due: stylelint

Styling Footer (WiP)
  src/Scss/partials/_page-footer.scss
  src/Scss/utils/_colors.scss
  src/_includes/layouts/base.html
  src/_includes/partials/site-footer.html
Due: stylelint

Add skills Module (Styling WiP)
  src/Scss/modules/_skills.scss
  src/Scss/style.scss
  src/Scss/utils/_colors.scss
  src/_includes/layouts/home.html
  src/index.md
Due: stylelint

Fix Css Path
  src/_includes/layouts/base.html
Due: none

Add lightmode/darkmode switch and styling
  src/Scss/base/_basics.scss
  src/Scss/utils/_colors.scss
  src/_includes/layouts/base.html
Due: stylelint

fix site-hesder overflow and height issues
  src/Scss/utils/_variables.scss
Due: stylelint

Typo for most common HTML tags, typographic scale, line-length and height
  src/Scss/base/_basics.scss
  src/Scss/modules/_text.scss
  src/Scss/utils/_colors.scss
  src/Scss/utils/_variables.scss
  src/index.md
Due: stylelint

Imprint and privacy pages
  src/_includes/layouts/impressum.html
  src/datenschutz.md
  src/impressum.md
Due: none

Add more Space for color-scheme-toggle
  src/Scss/partials/_site-header.scss
Due: stylelint

Remove Disclaimer from footer navi
  src/_includes/partials/site-footer.html
Due: none

Fix spacing issues in footer at smaller viewports
  src/Scss/partials/_page-footer.scss
Due: stylelint

Create Footer Navigation from markdown in /footer
  .eleventy.js
  package-lock.json
  package.json
  src/_includes/partials/site-footer.html
  src/footer/datenschutz.md
  src/footer/impressum.md
  src/index.md
Due: eslint

Fix Color-scheme switch for textlinks
  src/Scss/utils/_colors.scss
Due: stylelint

Link Site Header to homepage
  src/_includes/partials/site-header.html
Due: none

intro
  src/Images/intro/intro.png
  src/Images/intro/intro_300.png
  src/Images/intro/intro_300.webp
  src/Images/intro/intro_388.png
  src/Images/intro/intro_388.webp
  src/Images/intro/intro_500.png
  src/Images/intro/intro_500.webp
  src/Scss/modules/_intro.scss
  src/Scss/modules/_text.scss
  src/Scss/style.scss
  src/Scss/utils/_colors.scss
  src/Scss/utils/_mixins.scss
  src/_includes/layouts/home.html
  src/index.md
Due: stylelint

Add Favicons and Touchicons
  src/_includes/layouts/base.html
  src/android-chrome-192x192.png
  src/android-chrome-512x512.png
  src/apple-touch-icon-precomposed.png
  src/apple-touch-icon.png
  src/browserconfig.xml
  src/favicon-16x16.png
  src/favicon-32x32.png
  src/favicon.ico
  src/mstile-144x144.png
  src/mstile-150x150.png
  src/mstile-310x150.png
  src/mstile-310x310.png
  src/mstile-70x70.png
  src/safari-pinned-tab.svg
  src/site.webmanifest
Due: none

Add Links to Social Media Accounts
  .eleventy.js
  package-lock.json
  package.json
  src/Images/socialmedia/codepen.svg
  src/Images/socialmedia/github.svg
  src/Images/socialmedia/mail.svg
  src/Images/socialmedia/npm.svg
  src/Images/socialmedia/twitter.svg
  src/Images/socialmedia/xing.svg
  src/Scss/partials/_page-footer.scss
  src/Scss/utils/_colors.scss
  src/_data/social.json
  src/_includes/partials/site-footer.html
Due: stylelint, eslint

Uses Page
  .eleventy.js
  src/Scss/base/_basics.scss
  src/Scss/modules/_text.scss
  src/Scss/utils/_mixins.scss
  src/uses.md
Due: stylelint, eslint

robots.txt
  src/robots.txt
Due: none

Link to /uses page, change felix image breakpoints
  src/Scss/modules/_intro.scss
  src/_includes/layouts/home.html
  src/index.md
Due: stylelint

Fix typo on privacy page
  src/footer/datenschutz.md
Due: none

Renamed impressum layout to text
  src/_includes/layouts/text.html
  src/footer/datenschutz.md
  src/footer/impressum.md
  src/uses.md
Due: none

Add Meta tags
  src/_data/site.json
  src/_includes/layouts/base.html
Due: none

Path conditions:
  stylelint: any of: *.scss
  eslint: any of: *.js
  node_modules/.bin/htmllint --rc .htmllintrc: any of: dist/Html/**/*.html
