Repository felixk76/kirmaiernet: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint, node_modules/.bin/htmllint --rc .htmllintrc

Add button type
  src/_includes/partials/site-header.html
  src/_includes/partials/site-navigation.html
Due: none

Fix border bug for Safari
  src/Scss/modules/_slides.scss
  src/Scss/utils/_colors.scss
Due: stylelint

Textchange in slides.md
  src/slides.md
Due: none

Fix vulnerabilities found by npm audit
  package-lock.json
Due: none

Add npm resolution to repo to fix grunt-load-tasks lodash vulnerability
  package-lock.json
  package.json
Due: none

Add js/vendors to gitignore
  .gitignore
Due: none

Add instantpage
  Gruntfile.js
  grunt/copy.js
  package-lock.json
  package.json
  src/_includes/layouts/base.html
Due: eslint

deleted js
  src/js/vendors/cssrelpreload.js
  src/js/vendors/intersection-observer.js
  src/js/vendors/lazysizes.js
  src/js/vendors/picturefill.js
Due: eslint

Serviceworker with Workbox
  .eslintignore
  .gitignore
  package-lock.json
  package.json
  src/_includes/layouts/base.html
  src/maskable_icon.png
  src/site.webmanifest
  src/sw.js
  workbox-config.js
Due: eslint

Fix Stash Conflict
  .eleventy.js
Due: eslint

Bundling SW with parcel
  .gitignore
  package-lock.json
  package.json
  src/_includes/layouts/offline.html
  src/offline.md
  src/sw-template.js
  src/sw.js
  workbox-config.js
Due: eslint

Add deploy task
  package.json
Due: none

Fix tasks
  package-lock.json
  package.json
Due: none

Typo in package.json
  package.json
Due: none

Fix deploy task again
  package.json
Due: none

Add parcel as devdependency
  package.json
Due: none

Rename fonts folder
  src/fonts2/bignoodletitling.woff
  src/fonts2/bignoodletitling.woff2
  src/fonts2/manrope-regular-subset.woff
  src/fonts2/manrope-regular-subset.woff2
  src/fonts2/manrope-variable-subset.woff
  src/fonts2/manrope-variable-subset.woff2
Due: none

Rename fonts folder
  src/fonts/bignoodletitling.woff
  src/fonts/bignoodletitling.woff2
  src/fonts/manrope-regular-subset.woff
  src/fonts/manrope-regular-subset.woff2
  src/fonts/manrope-variable-subset.woff
  src/fonts/manrope-variable-subset.woff2
Due: none

Rename fonts folder
  .eleventy.js
  package-lock.json
  src/Scss/utils/_variables.scss
  workbox-config.js
Due: stylelint, eslint

Chasing deployment bug
  .eleventy.js
  .eslintignore
  src/js/instantpage.min.js
Due: eslint

copy workbox manually to dist
  package.json
Due: none

Changed 404 output path
  src/404.md
Due: none

Remove Breakpoint from social meda icons
  src/Scss/partials/_page-footer.scss
Due: stylelint

Add copy workbox to deploy
  package.json
Due: none

Changed CSS path
  Gruntfile.js
  workbox-config.js
Due: eslint

Trying font preloading
  src/_includes/layouts/base.html
  src/_includes/layouts/home.html
Due: none

Add Avif to homepage
  src/_includes/layouts/home.html
Due: none

Changed images path
  .eleventy.js
  src/Scss/utils/_colors.scss
  src/_data/social.json
  src/_includes/layouts/home.html
  src/images/grunge-dark.jpg
  src/images/grunge.png
  src/images/grunge2X Kopie.png
  src/images/grunge2X.jpg
  src/images/grunge2X.png
  src/images/grunge_purple.jpg
  src/images/grunge_purple2X.jpg
  src/images/grunge_purple2X.png
  src/images/intro/intro.png
  src/images/intro/intro_300.avif
  src/images/intro/intro_300.png
  src/images/intro/intro_300.webp
  src/images/intro/intro_388.avif
  src/images/intro/intro_388.png
  src/images/intro/intro_388.webp
  src/images/intro/intro_500.avif
  src/images/intro/intro_500.png
  src/images/intro/intro_500.webp
  src/images/socialmedia/codepen.svg
  src/images/socialmedia/github.svg
  src/images/socialmedia/mail.svg
  src/images/socialmedia/npm.svg
  src/images/socialmedia/twitter.svg
  src/images/socialmedia/xing.svg
  workbox-config.js
Due: stylelint, eslint

Updated Hoster
  src/footer/datenschutz.md
  src/kolophon.md
Due: none

Add open graph and twitter meta information
  src/_includes/layouts/base.html
  src/images/ogmage.jpg
Due: none

Load Workbox dependencies from local instead of google CDN
  src/sw-template.js
Due: eslint

Fix typo in ogimage filename
  src/images/ogimage.jpg
Due: none

Changed twitter card type to summary_large_image
  src/_includes/layouts/base.html
Due: none

Chnaged start_url in manifest
  src/site.webmanifest
Due: none

Removed size-attribute from apple-touch-icon
  src/_includes/layouts/base.html
Due: none

changed font-display to optional to reduce CLS
  src/Scss/utils/_webfonts.scss
Due: stylelint

Inline Font
  src/Scss/utils/_webfonts.scss
Due: stylelint

Revert font inlinig
  src/Scss/utils/_webfonts.scss
Due: stylelint

Add google-site-verification meta-tag for google search console
  src/_includes/layouts/base.html
Due: none

Tidy base.js
  src/js/base.js
Due: eslint

Path conditions:
  stylelint: any of: *.scss
  eslint: any of: *.js
  node_modules/.bin/htmllint --rc .htmllintrc: any of: dist/Html/**/*.html
