Repository felixk76/kirmaiernet: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint, node_modules/.bin/htmllint --rc .htmllintrc

.lintstagedrc:

{
    "*.scss": "stylelint",
    "*.js": "eslint",
    "dist/Html/**/*.html": "node_modules/.bin/htmllint --rc .htmllintrc",
  }

Add Social Media links
  src/_includes/partials/site-footer.html
Due: none

Fix Bignoodletitling font order (woff2 before woff)
  src/Scss/utils/_webfonts.scss
Due: stylelint

Remove unnecessary code comment
  src/js/base.js
Due: eslint

Add Css inlining and tree-shaking with PurgeCSS
  .eleventy.js
  package-lock.json
  package.json
  src/Scss/partials/_site-header.scss
  src/Scss/utils/_colors.scss
Due: stylelint, eslint

Add whitespace
  src/index.md
Due: none

Add darkmode grunge pattern
  src/Images/grunge-dark.jpg
Due: none

change text color and body background
  src/Scss/utils/_colors.scss
Due: stylelint

Defer JS loading
  src/_includes/layouts/base.html
Due: none

Add material folder to gitignore
  .gitignore
Due: none

Add Kolophon (WiP)
  src/kolophon.md
Due: none

About me page
  src/about.md
Due: none

Link to about page
  src/index.md
Due: none

Add google sitemap
  src/about.md
  src/footer/datenschutz.md
  src/footer/impressum.md
  src/index.md
  src/kolophon.md
  src/robots.txt
  src/sitemap.njk
  src/uses.md
Due: none

Add main page navigation
  .eleventy.js
  src/Scss/partials/_page-navigation.scss
  src/Scss/partials/_site-header.scss
  src/Scss/partials/_site-navigation.scss
  src/Scss/style.scss
  src/Scss/utils/_colors.scss
  src/_includes/layouts/base.html
  src/_includes/partials/site-header.html
  src/_includes/partials/site-navigation.html
  src/about.md
  src/index.md
  src/js/base.js
  src/kolophon.md
  src/uses.md
Due: stylelint, eslint

Remove a11ty focus outline from main content area
  src/Scss/base/_basics.scss
Due: stylelint

Add build command to package.json
  package.json
Due: none

Update stylelint and eslint dependency
  package-lock.json
  package.json
Due: none

fix name of extended lint configs
  .eslintrc.json
  .stylelintrc.json
Due: none

Add page-navigation-isopen to purgecss whitelist
  .eleventy.js
Due: eslint

Center footer for mobile
  src/Scss/partials/_page-footer.scss
  src/_includes/partials/site-footer.html
Due: stylelint

Fix notch safearea on newer mobile phones
  src/Scss/partials/_site-header.scss
  src/Scss/partials/_site-navigation.scss
  src/_includes/layouts/base.html
Due: stylelint

Fix case-sensitivity error in image path
  src/Scss/utils/_colors.scss
Due: stylelint

Housekeeping
  src/Scss/base/_reboot.scss
  src/Scss/modules/_intro.scss
  src/Scss/partials/_site-header.scss
  src/Scss/style.scss
Due: stylelint

Fix mobile Safari svg button issue
  src/Scss/partials/_site-header.scss
  src/Scss/partials/_site-navigation.scss
Due: stylelint

Improve Cummulative Layout shift
  src/Scss/partials/_site-header.scss
  src/Scss/style.scss
Due: stylelint

Fix button a11ty issue
  src/_includes/partials/site-header.html
  src/_includes/partials/site-navigation.html
Due: none

Add redirect to https and www
  src/.htaccess
Due: none

Removed unneccessary npm i from build script
  package-lock.json
  package.json
Due: none

Specify height of intro image
  src/Scss/modules/_intro.scss
Due: stylelint

Add skills.scss to gitignore
  .gitignore
Due: none

skills
  src/Scss/modules/_skills.scss
Due: stylelint

Remove skills from homepage template
  src/_includes/layouts/home.html
Due: none

Add 404 page
  src/.htaccess
  src/404.md
  src/Scss/modules/_error.scss
  src/Scss/style.scss
  src/Scss/utils/_colors.scss
  src/_includes/layouts/404.html
Due: stylelint

Add active linkstate to sitenavigation
  src/Scss/partials/_site-navigation.scss
  src/_includes/partials/site-navigation.html
Due: stylelint

Fix typos
  src/_data/social.json
  src/about.md
  src/index.md
Due: none

Changed site header background for light theme
  src/Scss/utils/_colors.scss
Due: stylelint

Fix typos
  .eleventy.js
  src/kolophon.md
  src/uses.md
Due: eslint

Fix styling for mobile
  src/Scss/modules/_slides.scss
  src/_includes/layouts/slides.html
Due: stylelint

Add github to links
  src/_data/social.json
Due: none
