Repository felixk76/kirmaiernet: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint, node_modules/.bin/htmllint --rc .htmllintrc

Tidy basics.scss
  src/Scss/base/_basics.scss
Due: stylelint

Remove lazyloading form inttro image and replace lquip image
  src/_includes/layouts/home.html
  src/images/intro/intro_lquip.png
Due: none

Add image breakpoint 762px for Lighthouse
  src/_includes/layouts/home.html
  src/images/intro/intro_762.avif
  src/images/intro/intro_762.png
  src/images/intro/intro_762.webp
Due: none

Add another image breakpoint
  src/_includes/layouts/home.html
  src/images/intro/intro_290.avif
  src/images/intro/intro_290.png
  src/images/intro/intro_290.webp
  src/images/intro/intro_762.png
Due: none

Typo in picture tag
  src/_includes/layouts/home.html
Due: none

Add sizes to picture element
  src/Scss/modules/_intro.scss
  src/_includes/layouts/home.html
Due: stylelint

Test deploy preview
  test.txt
Due: none

Test preview deploy
  test.txt
Due: none

Test without avif
  src/_includes/layouts/home.html
Due: none

Added more sourceset candidates to intro image
  package-lock.json
  src/Scss/modules/_intro.scss
  src/_includes/layouts/home.html
  src/images/intro/felix-vorlage.png
  src/images/intro/felix-vorlage.webp
  src/images/intro2/intro-lquip.png
  src/images/intro2/intro2-1020.png
  src/images/intro2/intro2-1020.webp
  src/images/intro2/intro2-1470.png
  src/images/intro2/intro2-1470.webp
  src/images/intro2/intro2-270.png
  src/images/intro2/intro2-270.webp
  src/images/intro2/intro2-290.png
  src/images/intro2/intro2-290.webp
  src/images/intro2/intro2-340.png
  src/images/intro2/intro2-340.webp
  src/images/intro2/intro2-490.png
  src/images/intro2/intro2-490.webp
  src/images/intro2/intro2-540.png
  src/images/intro2/intro2-540.webp
  src/images/intro2/intro2-580.png
  src/images/intro2/intro2-580.webp
  src/images/intro2/intro2-680.png
  src/images/intro2/intro2-680.webp
  src/images/intro2/intro2-810.png
  src/images/intro2/intro2-810.webp
  src/images/intro2/intro2-870.png
  src/images/intro2/intro2-870.webp
  src/images/intro2/intro2-980.png
  src/images/intro2/intro2-980.webp
  workbox-config.js
Due: stylelint, eslint

Lossy webp compression
  src/images/intro2/intro2-1020.webp
  src/images/intro2/intro2-1470.webp
  src/images/intro2/intro2-270.webp
  src/images/intro2/intro2-290.webp
  src/images/intro2/intro2-340.webp
  src/images/intro2/intro2-490.webp
  src/images/intro2/intro2-540.webp
  src/images/intro2/intro2-580.webp
  src/images/intro2/intro2-680.webp
  src/images/intro2/intro2-810.webp
  src/images/intro2/intro2-870.webp
  src/images/intro2/intro2-980.webp
Due: none

Add crossorigin attribute to font preloads
  src/_includes/layouts/base.html
Due: none

Renamed src/Scss to src/css
  .stylelintrc.json
  src/css/base/_basics.scss
  src/css/base/_reboot.scss
  src/css/base/_richtext-content.scss
  src/css/modules/.gitkeep
  src/css/modules/_error.scss
  src/css/modules/_intro.scss
  src/css/modules/_skills.scss
  src/css/modules/_slides.scss
  src/css/modules/_syntaxhighlighting.scss
  src/css/modules/_text.scss
  src/css/partials/_page-footer.scss
  src/css/partials/_site-header.scss
  src/css/partials/_site-navigation.scss
  src/css/rte.scss
  src/css/style.scss
  src/css/utils/_bp.scss
  src/css/utils/_colors.scss
  src/css/utils/_lazyload.scss
  src/css/utils/_mixins.scss
  src/css/utils/_variables.scss
  src/css/utils/_webfonts.scss
  src/css/vendors/.gitkeep
  src/css/vendors/_prism.scss
Due: stylelint

Removed copyright
  src/_includes/layouts/base.njk
  src/_includes/partials/site-footer.html
  src/css/partials/_page-footer.scss
Due: stylelint

Renamed JS and CSS files, Removed SW in dev
  src/_includes/layouts/base.njk
Due: none

Remove grunt
  grunt/aliases.yaml
  grunt/compress.js
  grunt/copy.js
  grunt/cssmin.js
  grunt/eslint.js
  grunt/htmllint.js
  grunt/notify.js
  grunt/postcss.js
  grunt/sass.js
  grunt/stylelint.js
  grunt/terser.js
  grunt/watch.js
  grunt/zopfli.js
  package-lock.json
  package.json
Due: eslint

Changed paths
  src/_includes/layouts/404.html
  src/_includes/layouts/home.html
  src/_includes/layouts/offline.html
  src/_includes/layouts/slides.html
  src/_includes/layouts/text.html
  src/css/partials/_site-navigation.scss
  src/css/utils/_colors.scss
  src/css/utils/_variables.scss
  workbox-config.js
Due: stylelint, eslint

Remove draft from website
  src/lighthouse.md
Due: none

Update test.txt
  test.txt
Due: none

Path conditions:
  stylelint: any of: *.scss
  eslint: any of: *.js
  node_modules/.bin/htmllint --rc .htmllintrc: any of: dist/Html/**/*.html
